<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="KenyanIN, Cari Tempat Makan yang edgy">
  <meta name="theme-color" content="#ffd780" />

  <link rel="apple-touch-icon" href="/icons/icon-192x192.png">
  <link rel="manifest" href="./app.webmanifest">
  <title>KenyangIN</title>
</head>

<body>
  <skip-link></skip-link>
  <header>
    <navbar-item></navbar-item>
  </header>
  <hero-image></hero-image>
  <main id="content">
    <div class="title-content-heading">
      <h3 class="title-content-heading-label">Daftar Restoran</h2>
        <catalogue-list></catalogue-list>
    </div>
  </main>
  <footer>
    <footer-bar></footer-bar>
  </footer>
</body>

</html>